DATABASE_URL=postgresql://checklist_user:checklist_password@localhost:5432/checklist_db?schema=public
JWT_SECRET=supersecretjwtkey123!@#
PORT=3001
FRONTEND_URL=http://localhost:3000

# SMTP Email Configuration
SMTP_HOST=smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=mock_user
SMTP_PASS=mock_pass
SMTP_FROM=noreply@checklisttracker.com

# Cron Job Configurations (e.g. daily reminder at 7 PM)
# format: min hour day-of-month month day-of-week
DAILY_REMINDER_CRON="0 19 * * *"
